.admin {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 80%;
    max-width: 400px;
}

.admin h2 {
    text-align: center;
    color: #333;
}

.admin form {
    display: flex;
    flex-direction: column;
}

.admin label {
    margin-top: 10px;
}

.admin input, .admin select, .admin button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

.admin button {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}
